In [51]:
import pandas as pd  #Importing necessary packages

In [53]:
#importing .csv file to work on
survey_responses = pd.read_csv('/Users/anthonydaniels/Desktop/Udacity Data Science Study/Udacity Project 1/Udacity Project 1 csv dataset 1.csv')

In [55]:
survey_responses.head()  #look at first 5 lines of code

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [57]:
survey_responses.describe() #descriptive statistics of file

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

In [59]:
survey_responses.isna().sum() #check for nulls and count them

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

In [61]:
survey_responses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

We have 114 columns/features in our dataset.  We need to start the cleaning process.
Our project is going to attempt create a model that predicts those who will create a career which will be defined as those with over 10 years work experience.

In [29]:
# eliminate columns that we don't want to be taken into account for our model
# we have a column 'check' that appears to have responses all 'apples'.  check to see if there are any other responses

# Check for non-'apples' responses in the 'check' column
non_apples = survey_responses[survey_responses['Check'] != 'Apples']

# Display results
if len(non_apples) > 0:
    print(f"Found {len(non_apples)} rows with non-'apples' responses:")
    print(non_apples[['Check']])  # Show only the 'check' column
else:
    print("All responses in 'Check' column are 'Apples'.")

All responses in 'Check' column are 'Apples'.

Based on the fact that all of the responses are 'Apples' under the 'Check' column, we can assume that it is a nonimpactful column since it applies to everybody in the survey

In [63]:
#code to remove undesired columns from file
survey_responses.drop(columns=['Check', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'BuildvsBuy', 'TechEndorse', 'Currency','CompTotal', 'LanguageAdmired', 'DatabaseAdmired', 'PlatformAdmired', 'WebframeAdmired', 'EmbeddedAdmired', 'MiscTechWantToWorkWith', 'MiscTechAdmired', 'ToolsTechAdmired', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired', 'OfficeStackAsyncWantToWorkWith', 'OfficeStackAsyncAdmired', 'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired', 'AISearchDevWantToWorkWith', 'AISearchDevAdmired', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'], inplace=True)

In [37]:
survey_responses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 87 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      65437 non-null  int64
 1   MainBranch                      65437 non-null  object
 2   Age                             65437 non-null  object
 3   Employment                      65437 non-null  object
 4   RemoteWork                      54806 non-null  object
 5   CodingActivities                54466 non-null  object
 6   EdLevel                         60784 non-null  object
 7   LearnCode                       60488 non-null  object
 8   LearnCodeOnline                 49237 non-null  object
 9   TechDoc                         40897 non-null  object
 10  YearsCode                       59869 non-null  object
 11  YearsCodePro                    51610 non-null  object
 12  DevType                         59445 non-null  object
 13  Country                         58930 non-null  object
 14  LanguageHaveWorkedWith          59745 non-null  object
 15  LanguageWantToWorkWith          55752 non-null  object
 16  DatabaseHaveWorkedWith          50254 non-null  object
 17  DatabaseWantToWorkWith          42558 non-null  object
 18  PlatformHaveWorkedWith          42366 non-null  object
 19  PlatformWantToWorkWith          34532 non-null  object
 20  WebframeHaveWorkedWith          45161 non-null  object
 21  WebframeWantToWorkWith          38535 non-null  object
 22  EmbeddedHaveWorkedWith          22214 non-null  object
 23  EmbeddedWantToWorkWith          17600 non-null  object
 24  MiscTechHaveWorkedWith          39443 non-null  object
 25  ToolsTechHaveWorkedWith         52482 non-null  object
 26  ToolsTechWantToWorkWith         46084 non-null  object
 27  NEWCollabToolsHaveWorkedWith    57592 non-null  object
 28  OpSysPersonal use               58174 non-null  object
 29  OpSysProfessional use           52973 non-null  object
 30  OfficeStackAsyncHaveWorkedWith  48093 non-null  object
 31  OfficeStackSyncHaveWorkedWith   55545 non-null  object
 32  AISearchDevHaveWorkedWith       44453 non-null  object
 33  NEWSOSites                      60286 non-null  object
 34  SOVisitFreq                     59536 non-null  object
 35  SOAccount                       59560 non-null  object
 36  SOPartFreq                      45237 non-null  object
 37  SOHow                           58962 non-null  object
 38  SOComm                          59163 non-null  object
 39  AISelect                        60907 non-null  object
 40  AISent                          45873 non-null  object
 41  AIBen                           36894 non-null  object
 42  AIAcc                           37302 non-null  object
 43  AIComplex                       37021 non-null  object
 44  AIToolCurrently Using           35072 non-null  object
 45  AIToolInterested in Using       30691 non-null  object
 46  AIToolNot interested in Using   24414 non-null  object
 47  AINextMuch more integrated      13438 non-null  object
 48  AINextNo change                 12498 non-null  object
 49  AINextMore integrated           24428 non-null  object
 50  AINextLess integrated           2355 non-null   object
 51  AINextMuch less integrated      1148 non-null   object
 52  AIThreat                        44689 non-null  object
 53  AIEthics                        41548 non-null  object
 54  AIChallenges                    37531 non-null  object
 55  TBranch                         44477 non-null  object
 56  ICorPM                          29801 non-null  object
 57  WorkExp                         29658 non-null  float64
 58  Knowledge_1                     28664 non-null  object
 59  Knowledge_2                     28021 non-null  object
 60  Knowledge_3                     28095 non-null  object
 61  Knowledge_4                     28030 non-null  object
 62  Knowledge_5                     27880 non-null  object
 63  Knowledge_6                     27864 non-null  object
 64  Knowledge_7                     27778 non-null  object
 65  Knowledge_8                     27758 non-null  object
 66  Knowledge_9                     27635 non-null  object
 67  Frequency_1                     28369 non-null  object
 68  Frequency_2                     28364 non-null  object
 69  Frequency_3                     27710 non-null  object
 70  TimeSearching                   28911 non-null  object
 71  TimeAnswering                   28844 non-null  object
 72  Frustration                     28251 non-null  object
 73  ProfessionalTech                27764 non-null  object
 74  ProfessionalCloud               28491 non-null  object
 75  ProfessionalQuestion            28807 non-null  object
 76  Industry                        28858 non-null  object
 77  JobSatPoints_1                  29324 non-null  float64
 78  JobSatPoints_4                  29393 non-null  float64
 79  JobSatPoints_5                  29411 non-null  float64
 80  JobSatPoints_6                  29450 non-null  float64
 81  JobSatPoints_7                  29448 non-null  float64
 82  JobSatPoints_8                  29456 non-null  float64
 83  JobSatPoints_9                  29456 non-null  float64
 84  JobSatPoints_10                 29450 non-null  float64
 85  JobSatPoints_11                 29445 non-null  float64
 86  JobSat                          29126 non-null  float64
dtypes: float64(11), int64(1), object(75)
memory usage: 43.4+ MB

In [69]:
WorkExp_NA = survey_responses['WorkExp'].isna().sum()  #determine if there are NA to be dealth with in WorkExp column
print (WorkExp_NA)

35779

In [73]:
survey_responses['Career'] = survey_responses['WorkExp'].fillna(0) >=10   #creates new column named Career and assigns False to everything w/NA or Less than 10 years of work experience

In [81]:
print(survey_responses[['WorkExp','Career']].head()) ##checks WorkExp vs new Career column

   WorkExp  Career
0      NaN   False
1     17.0    True
2      NaN   False
3      NaN   False
4      NaN   False